
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    box-sizing: border-box;
    position: absolute;
    width: 1600px;
    height: 890px;
    left: 0px;
    top: 0px;
    right:0px;
}
.nav{
 
    position: absolute;
    width: 1475px;
    height: 10vh;
    right:0px;
    left: 0px;
    font-size: 20px;
    top:0px;
    background: #000000;
}
h2{
    position: absolute;
    color: white;
    left: 20px;
    top:-5px;
}
#btn{
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 38px;
    left: 30px;
    top: 120px;
    cursor: pointer;
    background: #000000;
    color:white;
    border: 1px solid #000000;
}

table{
   
    border-collapse: collapse;
    width: 1410px;
    overflow: scroll;
    position: absolute;
    top:200px;
    left:30px;

}
tbody,tr,td{
    height: 50px;
    border:none;

}
table tr{
    text-align: center;

}

table th,td{
    border: 1px solid black;
}

.col{
    border: 1px solid black;
}
.adjust{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

